# Environment
.env
.venv/
venv/
env/

# Poetry
dist/
poetry.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Local artifacts
*.log
